doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    if (user)
      div Logged in user: #{user.username}
    else if (user === undefined)
      div No account is logged in 
    else 
      div No account is logged in 
          
  body 
    ul
      li
        a(href='/main') Home 
      li 
        a(href='/main/genre') Genre
      li 
        a(href='/main/artist') Artist
      li 
        a(href='/main/register') Register 
      li 
        a(href='/main/login') Login      
      div Only for admin accounts:
      li 
        a(href='/main/add') Add a new album 
      li 
        a(href='/main/genre/add') Add a new genre
      li 
        a(href='/main/artist/add') Add a new artist
      
    block content 
