doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/main') Home 
      li 
        a(href='/main/genre') Genre
      li 
        a(href='/main/artist') Artist
    block content 
