doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/main') Home 
      li 
        a(href='/main/genre') Genre
      li 
        a(href='/main/artist') Artist
      li 
        a(href='/main/add') Add a new album 
      li 
        a(href='/main/genre/add') Add a new genre
      li 
        a(href='/main/artist/add') Add a new artist
    block content 
